<div id="<%= dom_id comment %>" class="box p-4">
  <p>
    <%= comment.body %>
  </p>

  <p>
    <strong>Post Author:</strong>

    <%= link_to comment.post.user.full_name, user_path(comment.post.user_id) %>

    <strong>Post:</strong>
    <%= link_to 'View Post', post_path(comment.post_id) %>

  </p>

</div>



