<div class="box">
  <div class="mb-6">
    <h4 class="title is-5">Following: </h4>

    <% @user.followees.each do |followee| %>
      <div class="is-flex">
        <%= image_tag followee.avatar_url, class: 'avatar__image--comment mr-2' %>
        <%= followee.full_name %>
      </div>
    <% end %>

  </div>
  
  <div class="mb-6">
    <h4 class="title is-5">Followers: </h4>

    <% @user.followers.each do |follower| %>
      <div class="is-flex">
        <%= image_tag follower.avatar_url, class: 'avatar__image--comment mr-2' %>
        <%= follower.full_name %>
      </div>
    <% end %>

  </div>

</div>

