<div id="<%= dom_id(@user, :follow_buttons) %>" class="mt-4">

  <% if current_user.following?(@user) %>
    <%= button_to user_follow_path(@user.id), method: :delete, class: 'button is-danger' do %>
      Unfollow
    <% end %>
  <% else %>
    <%= button_to user_follow_path(@user.id), method: :post, class: 'button is-link' do %>
      Follow
    <% end %>
  <% end %>
</div>
