<section class="section">
  <div>
    <h1 class="title is-3">User Profile</h1>
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <%= link_to "Home", root_path %>
  </div>
</section>


