<div id="<%= dom_id post %>">
  <div class="single__post__container">
    <h2 class="single__post__title"><%= post.title %></h2>
    <p class="single__post__body"><%= post.body %></p>
  </div>
</div>
