  
  <div class="single__post__container p-4 m-2">
    <h2 class="single__post__body title is-5 is-italic"><%= post.body %></h2>    
    <p class="is-size-7">by: <%= link_to post.user.username, user_path(post.user) %></p>
  </div>
