<p style="color: green"><%= notice %></p>



<section class="section">
  <% content_for :title, "Posts" %>
  <h1 class="title is-3">Posts</h1>
  <div id="posts" class="columns">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  <%= link_to "New post", new_post_path %>
</section>

