
<section class="section">
  <% content_for :title, "Posts" %>
  <h1 class="title is-3 mb-0">Posts</h1>

  <div id="posts" class="section mb-2">
    <% if @posts.any? %>  
      <% @posts.each do |post| %>
        
          <div class="card">
            <a href="<%= post_path(post) %>" class="has-text-black"><%= render post %></a>
          </div>
         
      <% end %>
    <% else %>
      <p class="is-italic">No posts yet</p>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path, class: "button is-link" %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'p-4 is-hovered' %>
</section>


