/*
 *= require_tree .
 *= require_self
 */

/* Josh Comeau Modern CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
/*
  2. Remove default margin
*/
/* * {
  margin: 0;
} */
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
/* body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
} */
/*
  5. Improve media defaults
*/
/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */
/*
  6. Remove built-in form typography styles
*/
/* input,
button,
textarea,
select {
  font: inherit;
} */
/*
  7. Avoid text overflows
*/
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */
/*
  8. Create a root stacking context
*/
/* #root,
#__next {
  isolation: isolate;
} */

/* End CSS Reset */

/* General rules */

/* :root {
  --title-font: 'IBM Plex Mono', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  --paragraph-font: 'IBM Plex Sans', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin-bottom: 1rem;
} */

/* End general rules */
/* 
.header__image__container {
  display: flex;
  margin-bottom: 2rem;
}

.body__container {
  padding: 1rem;
}

.single__post__container {
  background-color: white;
  box-shadow: 0 0 5px rgb(191, 191, 191);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.single__post__title {
  font-style: italic;
  border-radius: 1rem;
  padding: 0 0.5rem;
}

.single__post__body {
  background-color: rgb(246, 251, 255);
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
} */

$family-primary:
  'IBM Plex Mono',
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
