:root {
  --title-font: 'IBM Plex Mono', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  --paragraph-font: 'IBM Plex Sans', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;

  --bulma-primary-1: yellow;
  --primary-light: #f7f5d0;
  --primary-dark: #e2c93e;
}

* {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin-bottom: 1rem;
}

.button:hover,
.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.15s;
}

.card:hover h2 {
  color: blue;
}

.avatar__image {
  border-radius: 100%;
  max-width: calc(clamp(1rem, 1rem + 5vw, 5rem));
}

.avatar__image--comment {
  border-radius: 100%;
  width: calc(min(24px, 2rem));
}

.avatar__image--comment,
.all__users {
  width: calc(clamp(1.5rem, 1.5rem + 2vw, 10rem));
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  max-height: calc(6rem, 6rem + 5%, 8rem);
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

#navbar div {
  width: clamp(20rem, 50%, 30rem);
}

.post__card {
  width: calc(max(50%, 45rem));
}

.user__card {
  width: calc(max(50%, 30rem));
}

.fa-solid .fa-heart {
  color: pink;
}

.icon:hover {
  cursor: pointer;
  color: blue;
  transform: scale(1.02);
  transition: 0s;
}

.is-not-bulma-a {
  color: inherit;
}

.flash-message {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.flash-message.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out;
}

.flash-message {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* .comment__form__container {
  position: sticky;
  bottom: 0;
  background-color: white;
} */
